.jumbotron,h2{
  background-color: rgb(26, 26, 26);
  font-family: 'Lexend Deca', sans-serif;
  color: rgb(255, 230, 0); 

}
#myPage{
  background-color: rgb(26, 26, 26);
}

hr{
  color: azure;
}

card-container{
	max-width:1400px;
	width:95%;
}

.card-body{
	max-width:250px;
	padding-left:10px;
	margin-top:0px;
	transition:.3s;
	-webkit-transition:.3s;
}

.card-deck{
	margin-bottom:3.2rem;
	display: flex;
  	flex-wrap: nowrap;
  	overflow-x: auto;
  	-webkit-overflow-scrolling: touch;
}

.front-deck{
	padding-top:12rem;
}

.card{
	margin-right:16px;
	border:none;
	flex: 0 0 auto;
}

.card .card-body:first-of-type{
	border:2px solid #96cecf;
	border-top:0px; 
}